<% layout('layout') -%>

<!--- change player id to player display name --->
<!--- add the button event to triger colour change and table update --->


<div class="marking-page-main">
  <div class="marking-page-categories-wrapper">
    <h4>
      Categories
    </h4>
    <% categoryNamesInGame.forEach(category => { %>
        <p>
          <label class="marking-page-category-label"><%= category.category %></label>
        </p>
    <% }) %>
  </div>
  <div class="marking-page-player-answers-wrapper">
    <% answerData.forEach(player => { %>
    
      <div class="marking-page-player-answer-wrapper">
        <h4 class="marking-page-gameId-data" data-gameId="<%= player.game_id %>"><%= player.display_name %></h4>
        <% var answerArray = Object.values(player.player_ans) %>
        <% answerArray.forEach(answer => { %>
          <div class="marking-page-individual-answer-div">
            <button data-userId="<%= player.player_id %>" class="marking-page-answer-btn"><%= answer||"😰"%></button>
          </div>
        <% }) %>
        <div class="marking-page-player-score-div">
          Score: <span class="score<%= player.player_id %>">0</span>
        </div>
      </div>
    <% }) %>

  </div>
</div>





<script src="/js/marking-page.js"></script>
