<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>gamenight</h1>

  <!-- this will generate from the array in server.js
  div will have unique class -->

  <% answers.forEach(answer => { %>
    <div class="player-answer-div">
      <p>player 1</p>
      <button class="point-btn"><%= answer.animalAns %></button>
      <button class="point-btn"><%= answer.countryAns %></button>
      <button class="point-btn"><%= answer.movieAns %></button>
      <button class="point-btn"><%= answer.dogAns %></button>
      <button class="point-btn"><%= answer.foodAns %></button>
      <p class="total-score">0</p>
    </div>

  <%}) %>


  <!-- make an if statement that handles what to do if the round is 0 -->

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="js/marking-page.js"></script>
</body>
</html>