<% layout('layout') -%>

<div class="wrapper">
  <!-- this will generate from the array in server.js
  div will have unique class -->
  <div class="categories player-answer-div">
    <% gameCategories.forEach(category => { %>
      <h4 class="category-h4"><%= category.category %></h4>
    
    <% }) %>

  </div>
  <% answers.forEach(answer => { %>
    <div class="player-answer-div">
      <p>player 1</p>
      <!-- UP TO HERE -->
      <% gameCategories.forEach(category => { %>
        <button class="point-btn"><%= answer.animalAns %></button>
      
      <% }) %>
      <button class="point-btn"><%= answer.countryAns %></button>
      <button class="point-btn"><%= answer.movieAns %></button>
      <button class="point-btn"><%= answer.typesofdogsAns %></button>
      <button class="point-btn"><%= answer.foodAns %></button>
      <p class="total-score">0</p>
    </div>
  <% }) %>
  
  
  <!-- make an if statement that handles what to do if the round is 0 -->

</div>

<script src="js/marking-page.js"></script>
